node_modules/
backend/vendor/
backend/bootstrap/cache/*.php
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
frontend/node_modules/
frontend/public/build/
.git
.gitignore
.env
.env.*
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*
auth.json
backend/auth.json
frontend/auth.json
