{
  "openapi": "3.1.0",
  "info": {
    "title": "OntoloSQL Designer Desktop API",
    "version": "1.5.0",
    "description": "Versioned API for native desktop clients. Web SPA authentication remains Sanctum cookie/session based; this API uses Google OAuth with PKCE and expiring Sanctum bearer tokens.\n\nVersion 1.1.0 documents ontology value types in detail, including enum value types (a string base type with a `oneOf` constraint), and the visual-only schema markers used for reference tables, reference links, pipeline transforms, and table-level Foundry edit settings (`editsEnabled` / `editsHistory`)."
  },
  "servers": [
    {
      "url": "https://ontolosql-designer-kripb.ondigitalocean.app",
      "description": "Production"
    },
    {
      "url": "http://localhost:8080",
      "description": "Local Docker development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Desktop OAuth and token management"
    },
    {
      "name": "Realtime",
      "description": "Reverb client config and private/presence channel authorization"
    },
    {
      "name": "Diagrams",
      "description": "Owned diagram CRUD and dashboard data"
    },
    {
      "name": "Shared Diagrams",
      "description": "Diagram access through share tokens"
    },
    {
      "name": "Sharing",
      "description": "Share settings, invites, visitors, and user lookup"
    },
    {
      "name": "Imports",
      "description": "Raw and chunked schema import"
    },
    {
      "name": "Exports",
      "description": "Export jobs and direct backup/migration/Maker exports"
    },
    {
      "name": "Changelog",
      "description": "Diagram changelog entries"
    },
    {
      "name": "Review",
      "description": "Review prompt/status endpoints reused by the app"
    },
    {
      "name": "Foundry",
      "description": "Read-only Foundry Platform access scoped per ontology diagram, using delegated per-user OAuth. Diagram owners may set any host; connecting/querying requires an admin-configured host (hybrid model)."
    }
  ],
  "paths": {
    "/api/v1/auth/oauth/google/authorize": {
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "authorizeGoogleDesktopOAuth",
        "summary": "Start desktop Google OAuth",
        "description": "Stores the PKCE request and redirects the system browser to Google OAuth.",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/OAuthState"
          },
          {
            "name": "code_challenge",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 43,
              "maxLength": 128
            }
          },
          {
            "name": "code_challenge_method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "const": "S256"
            }
          },
          {
            "name": "device_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 120
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 255,
              "examples": [
                "ontolosql://oauth/callback"
              ]
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to Google OAuth"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/auth/oauth/google/callback": {
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "handleGoogleDesktopOAuthCallback",
        "summary": "Handle Google OAuth callback",
        "description": "Validates the Google account domain, creates a one-time desktop grant, and redirects to the configured native callback URI with code and state.",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/OAuthState"
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to native desktop callback URI"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/auth/oauth/google/token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "exchangeDesktopOAuthGrant",
        "summary": "Exchange one-time OAuth grant for bearer token",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuthTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bearer token response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthTokenResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "getCurrentDesktopUser",
        "summary": "Get current user",
        "description": "Requires abilities: desktop.",
        "responses": {
          "200": {
            "description": "Current user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/auth/tokens": {
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "listDesktopTokens",
        "summary": "List current user's tokens",
        "description": "Requires abilities: desktop, tokens:manage. Plaintext tokens are never returned.",
        "responses": {
          "200": {
            "description": "Token list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Token"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/auth/token/current": {
      "delete": {
        "tags": [
          "Auth"
        ],
        "operationId": "revokeCurrentDesktopToken",
        "summary": "Revoke current bearer token",
        "description": "Requires abilities: desktop.",
        "responses": {
          "204": {
            "description": "Current token revoked"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/auth/tokens/{token}": {
      "delete": {
        "tags": [
          "Auth"
        ],
        "operationId": "revokeDesktopTokenById",
        "summary": "Revoke one of the current user's tokens",
        "description": "Requires abilities: desktop, tokens:manage.",
        "parameters": [
          {
            "$ref": "#/components/parameters/TokenId"
          }
        ],
        "responses": {
          "204": {
            "description": "Token revoked"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/auth/email/resend": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "resendVerificationEmailV1",
        "summary": "Resend verification email",
        "responses": {
          "200": {
            "description": "Verification email status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/broadcasting/auth": {
      "post": {
        "tags": [
          "Realtime"
        ],
        "operationId": "authorizeBroadcastChannelV1",
        "summary": "Authorize Reverb channel subscription",
        "description": "Requires abilities: desktop, presence:read. Writer channels also require presence:write in channel authorization.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BroadcastAuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Broadcast auth payload"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/realtime/config": {
      "get": {
        "tags": [
          "Realtime"
        ],
        "operationId": "getRealtimeConfigV1",
        "summary": "Get Reverb client config",
        "description": "Requires abilities: desktop, presence:read.",
        "responses": {
          "200": {
            "description": "Realtime config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealtimeConfigResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/diagrams": {
      "get": {
        "tags": [
          "Diagrams"
        ],
        "operationId": "listOwnedDiagramsV1",
        "summary": "List current user's diagrams",
        "description": "Requires abilities: desktop, diagrams:read.",
        "responses": {
          "200": {
            "description": "Pageless diagram summary collection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DiagramSummary"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "Diagrams"
        ],
        "operationId": "createDiagramV1",
        "summary": "Create diagram",
        "description": "Requires abilities: desktop, diagrams:write.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDiagramRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/DiagramCreated"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/diagrams/dashboard": {
      "get": {
        "tags": [
          "Diagrams"
        ],
        "operationId": "getDiagramDashboardV1",
        "summary": "Get owned, shared, and public diagrams",
        "description": "Requires abilities: desktop, diagrams:read.",
        "responses": {
          "200": {
            "description": "Dashboard diagram groups",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/diagrams/share-users/search": {
      "get": {
        "tags": [
          "Sharing"
        ],
        "operationId": "searchShareUsersV1",
        "summary": "Search users by email for sharing",
        "description": "Requires abilities: desktop, sharing:write. Query must be at least two characters to return matches.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email matches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        }
      ],
      "get": {
        "tags": [
          "Diagrams"
        ],
        "operationId": "getDiagramV1",
        "summary": "Get diagram",
        "description": "Requires abilities: desktop, diagrams:read plus diagram read permission.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DiagramResource"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Diagrams"
        ],
        "operationId": "replaceDiagramV1",
        "summary": "Update diagram",
        "description": "Requires abilities: desktop, diagrams:write plus diagram write permission.",
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateDiagram"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/StatusMessage"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "patch": {
        "tags": [
          "Diagrams"
        ],
        "operationId": "patchDiagramV1",
        "summary": "Partially update diagram",
        "description": "Requires abilities: desktop, diagrams:write plus diagram write permission.",
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateDiagram"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/StatusMessage"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "tags": [
          "Diagrams"
        ],
        "operationId": "deleteDiagramV1",
        "summary": "Delete diagram",
        "description": "Requires abilities: desktop, diagrams:delete plus ownership/delete permission.",
        "responses": {
          "204": {
            "description": "Diagram deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/shared/diagrams/{token}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ShareToken"
        }
      ],
      "get": {
        "tags": [
          "Shared Diagrams"
        ],
        "operationId": "getSharedDiagramV1",
        "summary": "Get diagram by share token",
        "description": "Requires abilities: desktop, diagrams:read plus effective shared read permission.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DiagramResource"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Shared Diagrams"
        ],
        "operationId": "saveSharedDiagramV1",
        "summary": "Save shared diagram schema",
        "description": "Requires abilities: desktop, diagrams:write plus effective shared write permission.",
        "requestBody": {
          "$ref": "#/components/requestBodies/SharedSave"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/StatusOnly"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/shared/diagrams/{token}/duplicate": {
      "post": {
        "tags": [
          "Shared Diagrams"
        ],
        "operationId": "duplicateSharedDiagramV1",
        "summary": "Duplicate shared diagram into current user's account",
        "description": "Requires abilities: desktop, diagrams:write plus effective shared read permission.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ShareToken"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/DiagramCreated"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/share": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        }
      ],
      "post": {
        "tags": [
          "Sharing"
        ],
        "operationId": "enableDiagramSharingV1",
        "summary": "Ensure diagram is shared",
        "description": "Requires abilities: desktop, sharing:write plus diagram update permission.",
        "responses": {
          "200": {
            "description": "Current share access",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "share_access": {
                      "$ref": "#/components/schemas/DiagramAccess"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "Sharing"
        ],
        "operationId": "updateDiagramShareSettingsV1",
        "summary": "Update diagram share settings",
        "description": "Requires abilities: desktop, sharing:write plus diagram update permission.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareSettingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated share settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareSettings"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "tags": [
          "Sharing"
        ],
        "operationId": "disableDiagramSharingV1",
        "summary": "Disable sharing and library visibility",
        "description": "Requires abilities: desktop, sharing:write plus diagram update permission.",
        "responses": {
          "204": {
            "description": "Sharing disabled"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        }
      ],
      "get": {
        "tags": [
          "Sharing"
        ],
        "operationId": "listDiagramInvitesV1",
        "summary": "List diagram email invites",
        "description": "Requires abilities: desktop, sharing:write plus diagram update permission.",
        "responses": {
          "200": {
            "description": "Invite list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invite"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "put": {
        "tags": [
          "Sharing"
        ],
        "operationId": "replaceDiagramInvitesV1",
        "summary": "Replace diagram email invites",
        "description": "Requires abilities: desktop, sharing:write plus diagram update permission.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "invites"
                ],
                "properties": {
                  "invites": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "email",
                        "access"
                      ],
                      "properties": {
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "access": {
                          "$ref": "#/components/schemas/DiagramAccess"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated invite list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invite"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/visitors": {
      "get": {
        "tags": [
          "Sharing"
        ],
        "operationId": "listDiagramVisitorsV1",
        "summary": "List diagram visitors",
        "description": "Requires abilities: desktop, sharing:write plus diagram update permission.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DiagramId"
          }
        ],
        "responses": {
          "200": {
            "description": "Visitor resource collection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Visitor"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/visitors/{visitor}/approve": {
      "post": {
        "tags": [
          "Sharing"
        ],
        "operationId": "approveDiagramVisitorV1",
        "summary": "Approve visitor access",
        "description": "Requires abilities: desktop, sharing:write plus diagram update permission.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DiagramId"
          },
          {
            "$ref": "#/components/parameters/VisitorId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/StatusOnly"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/visitors/{visitor}": {
      "patch": {
        "tags": [
          "Sharing"
        ],
        "operationId": "updateDiagramVisitorAccessV1",
        "summary": "Update or revoke visitor access",
        "description": "Requires abilities: desktop, sharing:write plus diagram update permission.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DiagramId"
          },
          {
            "$ref": "#/components/parameters/VisitorId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "access"
                ],
                "properties": {
                  "access": {
                    "type": "string",
                    "enum": [
                      "read",
                      "write",
                      "revoked"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/StatusOnly"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/imports/{format}": {
      "post": {
        "tags": [
          "Imports"
        ],
        "operationId": "startRawDiagramImportV1",
        "summary": "Start raw import",
        "description": "Requires abilities: desktop, imports:write plus diagram write permission. Accepts JSON `{script}` or raw text body.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DiagramId"
          },
          {
            "name": "format",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ImportFormat"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "script"
                ],
                "properties": {
                  "script": {
                    "type": "string"
                  }
                }
              }
            },
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/PendingStatus"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/imports": {
      "post": {
        "tags": [
          "Imports"
        ],
        "operationId": "createChunkedDiagramImportV1",
        "summary": "Create chunked import upload",
        "description": "Requires abilities: desktop, imports:write plus diagram write permission.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DiagramId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportUploadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Chunked import upload created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportUploadResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/imports/{import}/chunks/{index}": {
      "put": {
        "tags": [
          "Imports"
        ],
        "operationId": "uploadDiagramImportChunkV1",
        "summary": "Upload one import chunk",
        "description": "Requires abilities: desktop, imports:write plus diagram write permission.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DiagramId"
          },
          {
            "$ref": "#/components/parameters/ImportId"
          },
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chunk stored",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "received": {
                      "type": "integer"
                    },
                    "complete": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/imports/{import}/complete": {
      "post": {
        "tags": [
          "Imports"
        ],
        "operationId": "completeChunkedDiagramImportV1",
        "summary": "Complete chunked import upload",
        "description": "Requires abilities: desktop, imports:write plus diagram write permission.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DiagramId"
          },
          {
            "$ref": "#/components/parameters/ImportId"
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/PendingStatus"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/imports/status": {
      "get": {
        "tags": [
          "Imports"
        ],
        "operationId": "getDiagramImportStatusV1",
        "summary": "Get latest import status",
        "description": "Requires abilities: desktop, imports:write plus diagram write permission.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DiagramId"
          }
        ],
        "responses": {
          "200": {
            "description": "Import status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportStatusResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/exports": {
      "post": {
        "tags": [
          "Exports"
        ],
        "operationId": "startDiagramExportV1",
        "summary": "Start SQL export job",
        "description": "Requires abilities: desktop, exports:read plus diagram read permission.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DiagramId"
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/PendingStatus"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/exports/status": {
      "get": {
        "tags": [
          "Exports"
        ],
        "operationId": "getDiagramExportStatusV1",
        "summary": "Get SQL export job status",
        "description": "Requires abilities: desktop, exports:read plus diagram read permission.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DiagramId"
          }
        ],
        "responses": {
          "200": {
            "description": "Export status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportStatusResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/exports/backup-json": {
      "get": {
        "tags": [
          "Exports"
        ],
        "operationId": "exportDiagramBackupJsonV1",
        "summary": "Export lossless backup JSON",
        "description": "Requires abilities: desktop, exports:read plus diagram read permission.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DiagramId"
          }
        ],
        "responses": {
          "200": {
            "description": "Backup JSON v2",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupExport"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/exports/migration": {
      "get": {
        "tags": [
          "Exports"
        ],
        "operationId": "exportDiagramMigrationZipV1",
        "summary": "Export Laravel migration zip",
        "description": "Requires abilities: desktop, exports:read plus diagram read permission.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DiagramId"
          }
        ],
        "responses": {
          "200": {
            "description": "Migration zip",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/exports/ontology": {
      "get": {
        "tags": [
          "Exports"
        ],
        "operationId": "exportDiagramOntologyMakerV1",
        "summary": "Export Maker .mts module",
        "description": "Requires abilities: desktop, exports:read plus diagram read permission.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DiagramId"
          }
        ],
        "responses": {
          "200": {
            "description": "Maker TypeScript module",
            "content": {
              "text/typescript": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/changelog": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        }
      ],
      "get": {
        "tags": [
          "Changelog"
        ],
        "operationId": "listDiagramChangelogV1",
        "summary": "List diagram changelog entries",
        "description": "Requires abilities: desktop, changelog:read plus diagram read permission.",
        "responses": {
          "200": {
            "description": "Changelog resource collection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChangelogEntry"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "Changelog"
        ],
        "operationId": "createDiagramChangelogEntryV1",
        "summary": "Create changelog entry",
        "description": "Requires abilities: desktop, changelog:write plus diagram write permission.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "details": {
                    "type": [
                      "object",
                      "array",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/StatusOnly"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/review": {
      "get": {
        "tags": [
          "Review"
        ],
        "operationId": "checkReviewPromptV1",
        "summary": "Check review prompt state",
        "responses": {
          "200": {
            "description": "Review prompt state"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Review"
        ],
        "operationId": "storeReviewV1",
        "summary": "Submit review response",
        "responses": {
          "200": {
            "description": "Review response stored"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/foundry/hosts": {
      "get": {
        "tags": [
          "Foundry"
        ],
        "operationId": "listFoundryHosts",
        "summary": "List configured Foundry hosts",
        "description": "Requires abilities: desktop, foundry:read. Returns admin-configured hosts and whether custom hosts are allowed.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FoundryHost"
                      }
                    },
                    "allow_custom_hosts": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/foundry/connections": {
      "get": {
        "tags": [
          "Foundry"
        ],
        "operationId": "listFoundryConnections",
        "summary": "List my Foundry connections",
        "description": "Requires abilities: desktop, foundry:connect.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FoundryConnection"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/foundry/connections/{connection}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/FoundryConnectionId"
        }
      ],
      "delete": {
        "tags": [
          "Foundry"
        ],
        "operationId": "deleteFoundryConnection",
        "summary": "Disconnect a Foundry connection",
        "description": "Requires abilities: desktop, foundry:connect. Only the owning user may disconnect.",
        "responses": {
          "204": {
            "description": "Disconnected"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/foundry/oauth/callback": {
      "get": {
        "tags": [
          "Foundry"
        ],
        "operationId": "foundryOAuthCallback",
        "summary": "Foundry OAuth callback",
        "description": "Public endpoint hit by the browser following Foundry's redirect. Identified by the one-time server-side state. Redirects back to the diagram (web) or the desktop redirect URI.",
        "security": [],
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect back to the app or desktop client with a foundry status query parameter."
          },
          "422": {
            "description": "Invalid or expired state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FoundryError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/foundry/config": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        }
      ],
      "get": {
        "tags": [
          "Foundry"
        ],
        "operationId": "getDiagramFoundryConfig",
        "summary": "Get diagram Foundry config",
        "description": "Requires abilities: desktop, foundry:read plus diagram read permission. Ontology diagrams only.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DiagramFoundryConfig"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "put": {
        "tags": [
          "Foundry"
        ],
        "operationId": "updateDiagramFoundryConfig",
        "summary": "Set diagram Foundry host/defaults (owner only)",
        "description": "Requires abilities: desktop, diagrams:write and diagram ownership. Ontology diagrams only. Owners may enter any valid HTTPS host.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "host_url": {
                    "type": "string",
                    "nullable": true,
                    "example": "acme.palantirfoundry.com"
                  },
                  "default_project_rid": {
                    "type": "string",
                    "nullable": true
                  },
                  "default_folder_rid": {
                    "type": "string",
                    "nullable": true
                  },
                  "default_ontology_rid": {
                    "type": "string",
                    "nullable": true
                  },
                  "settings": {
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DiagramFoundryConfig"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/foundry/connection-status": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        }
      ],
      "get": {
        "tags": [
          "Foundry"
        ],
        "operationId": "getDiagramFoundryConnectionStatus",
        "summary": "Get my Foundry connection status for this diagram",
        "description": "Requires abilities: desktop, foundry:read plus diagram read permission.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/FoundryConnectionStatus"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/foundry/oauth/authorize": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        }
      ],
      "post": {
        "tags": [
          "Foundry"
        ],
        "operationId": "startDiagramFoundryAuthorization",
        "summary": "Begin Foundry OAuth for this diagram's host",
        "description": "Requires abilities: desktop, foundry:connect plus diagram read permission. Each user connects their own account. Desktop clients may pass a loopback redirect_uri.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "redirect_uri": {
                    "type": "string",
                    "description": "Optional native/desktop loopback redirect URI."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FoundryAuthorizeResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/FoundryConflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/foundry/datasets": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        }
      ],
      "get": {
        "tags": [
          "Foundry"
        ],
        "operationId": "listFoundryDatasets",
        "summary": "List datasets/resources in a folder",
        "description": "Requires abilities: desktop, foundry:read plus diagram read permission. Uses the caller's own Foundry connection.",
        "parameters": [
          {
            "name": "folderRid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Folder/project RID; falls back to the diagram default."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/FoundryConflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/FoundryUpstream"
          },
          "502": {
            "$ref": "#/components/responses/FoundryUpstream"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/foundry/datasets/{datasetRid}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        },
        {
          "$ref": "#/components/parameters/DatasetRid"
        }
      ],
      "get": {
        "tags": [
          "Foundry"
        ],
        "operationId": "getFoundryDataset",
        "summary": "Get dataset metadata",
        "description": "Requires abilities: desktop, foundry:read plus diagram read permission.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/FoundryConflict"
          },
          "429": {
            "$ref": "#/components/responses/FoundryUpstream"
          },
          "502": {
            "$ref": "#/components/responses/FoundryUpstream"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/foundry/datasets/{datasetRid}/schema": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        },
        {
          "$ref": "#/components/parameters/DatasetRid"
        }
      ],
      "get": {
        "tags": [
          "Foundry"
        ],
        "operationId": "getFoundryDatasetSchema",
        "summary": "Get dataset schema",
        "description": "Requires abilities: desktop, foundry:read plus diagram read permission.",
        "parameters": [
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/FoundryConflict"
          },
          "429": {
            "$ref": "#/components/responses/FoundryUpstream"
          },
          "502": {
            "$ref": "#/components/responses/FoundryUpstream"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/foundry/datasets/{datasetRid}/files": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        },
        {
          "$ref": "#/components/parameters/DatasetRid"
        }
      ],
      "get": {
        "tags": [
          "Foundry"
        ],
        "operationId": "listFoundryDatasetFiles",
        "summary": "List files in a dataset",
        "description": "Requires abilities: desktop, foundry:read plus diagram read permission.",
        "parameters": [
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pathPrefix",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/FoundryConflict"
          },
          "429": {
            "$ref": "#/components/responses/FoundryUpstream"
          },
          "502": {
            "$ref": "#/components/responses/FoundryUpstream"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/foundry/datasets/{datasetRid}/file": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        },
        {
          "$ref": "#/components/parameters/DatasetRid"
        }
      ],
      "get": {
        "tags": [
          "Foundry"
        ],
        "operationId": "getFoundryDatasetFile",
        "summary": "Get file metadata in a dataset",
        "description": "Requires abilities: desktop, foundry:read plus diagram read permission.",
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "File path within the dataset."
          },
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/FoundryConflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/FoundryUpstream"
          },
          "502": {
            "$ref": "#/components/responses/FoundryUpstream"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/foundry/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        }
      ],
      "get": {
        "tags": [
          "Foundry"
        ],
        "operationId": "searchFoundryResources",
        "summary": "Resolve a Foundry resource by path",
        "description": "Requires abilities: desktop, foundry:read plus diagram read permission.",
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource path to resolve."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/FoundryConflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/FoundryUpstream"
          },
          "502": {
            "$ref": "#/components/responses/FoundryUpstream"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/foundry/llm/models": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        }
      ],
      "get": {
        "tags": [
          "Foundry"
        ],
        "operationId": "listDiagramAgentModels",
        "summary": "List diagram agent models",
        "description": "Requires abilities: desktop, foundry:read plus diagram read permission. Enabled Foundry AIP models available for the diagram's host (host-specific plus global).",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FoundryLlmModel"
                      }
                    },
                    "default_model": {
                      "type": "string",
                      "nullable": true
                    },
                    "enabled": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/foundry/agent/sessions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        }
      ],
      "get": {
        "tags": [
          "Foundry"
        ],
        "operationId": "listDiagramAgentSessions",
        "summary": "List diagram agent sessions",
        "description": "Requires abilities: desktop, foundry:read plus diagram read permission. Sessions are shared across diagram collaborators.",
        "parameters": [
          {
            "name": "include_archived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include archived sessions (default false)."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DiagramAgentSession"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "Foundry"
        ],
        "operationId": "createDiagramAgentSession",
        "summary": "Create a diagram agent session",
        "description": "Requires abilities: desktop, foundry:llm plus diagram write permission. Ontology diagrams only; the agent must be enabled.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DiagramAgentSession"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/foundry/agent/sessions/{session}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        },
        {
          "name": "session",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "Foundry"
        ],
        "operationId": "showDiagramAgentSession",
        "summary": "Get a diagram agent session with messages",
        "description": "Requires abilities: desktop, foundry:read plus diagram read permission.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DiagramAgentSession"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Foundry"
        ],
        "operationId": "renameDiagramAgentSession",
        "summary": "Rename a diagram agent session",
        "description": "Requires abilities: desktop, foundry:llm plus diagram write permission.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title"
                ],
                "properties": {
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DiagramAgentSession"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/foundry/agent/sessions/{session}/archive": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        },
        {
          "name": "session",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "tags": [
          "Foundry"
        ],
        "operationId": "archiveDiagramAgentSession",
        "summary": "Archive a diagram agent session",
        "description": "Requires abilities: desktop, foundry:llm plus diagram write permission. Sessions are archived, never deleted.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DiagramAgentSession"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/foundry/agent/sessions/{session}/unarchive": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        },
        {
          "name": "session",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "tags": [
          "Foundry"
        ],
        "operationId": "unarchiveDiagramAgentSession",
        "summary": "Unarchive a diagram agent session",
        "description": "Requires abilities: desktop, foundry:llm plus diagram write permission.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DiagramAgentSession"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/foundry/agent/sessions/{session}/messages": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        },
        {
          "name": "session",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "tags": [
          "Foundry"
        ],
        "operationId": "sendDiagramAgentMessage",
        "summary": "Send a diagram agent prompt",
        "description": "Requires abilities: desktop, foundry:llm plus diagram write permission. Sends the full diagram context and the prompt to the Foundry AIP LLM proxy using the caller's own Foundry token, and returns the assistant message with a proposed patch. The patch is reviewed and applied client-side; it is not auto-applied.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string",
                    "maxLength": 8000
                  },
                  "model": {
                    "type": "string"
                  },
                  "allow_destructive": {
                    "type": "boolean",
                    "description": "Permit delete/rename operations in the proposed patch."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DiagramAgentMessage"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/FoundryConflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/FoundryUpstream"
          },
          "502": {
            "$ref": "#/components/responses/FoundryUpstream"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/foundry/agent/sessions/{session}/messages/{message}/applied": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        },
        {
          "name": "session",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "message",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "tags": [
          "Foundry"
        ],
        "operationId": "markDiagramAgentMessageApplied",
        "summary": "Mark an assistant patch as applied",
        "description": "Requires abilities: desktop, foundry:llm plus diagram write permission. Persists that the patch was applied so reopening the agent panel won't offer to apply it again.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DiagramAgentMessage"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Foundry"
        ],
        "operationId": "unmarkDiagramAgentMessageApplied",
        "summary": "Clear the applied flag (undo)",
        "description": "Requires abilities: desktop, foundry:llm plus diagram write permission. Clears the applied flag after the change is undone so it can be applied again.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DiagramAgentMessage"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/foundry/token": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        }
      ],
      "post": {
        "tags": [
          "Foundry"
        ],
        "operationId": "connectDiagramFoundryToken",
        "summary": "Connect this diagram's host with a Foundry token",
        "description": "Requires abilities: desktop, foundry:connect plus diagram read permission. Stores a per-user token connection for the diagram's host. Works even when the host has no OAuth client configured. The token is verified against the host before being stored.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "A Foundry personal or service token."
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true,
                    "description": "Optional expiry; omit for non-expiring tokens."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/FoundryConnectionStatus"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/FoundryConflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "502": {
            "$ref": "#/components/responses/FoundryUpstream"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/foundry/spaces": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        }
      ],
      "get": {
        "tags": [
          "Foundry"
        ],
        "operationId": "listFoundrySpaces",
        "summary": "List Foundry spaces",
        "description": "Requires abilities: desktop, foundry:read plus diagram read permission. Top-level filesystem spaces.",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FoundrySpace"
                      }
                    },
                    "nextPageToken": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/FoundryConflict"
          },
          "429": {
            "$ref": "#/components/responses/FoundryUpstream"
          },
          "502": {
            "$ref": "#/components/responses/FoundryUpstream"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/foundry/folders": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        }
      ],
      "get": {
        "tags": [
          "Foundry"
        ],
        "operationId": "listFoundryFolderChildren",
        "summary": "List children of a space, project, or folder",
        "description": "Requires abilities: desktop, foundry:read plus diagram read permission. Pass the parent rid; falls back to the diagram's default project/folder.",
        "parameters": [
          {
            "name": "rid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Parent space/project/folder RID. Falls back to the diagram default."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FoundryResource"
                      }
                    },
                    "nextPageToken": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/FoundryConflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/FoundryUpstream"
          },
          "502": {
            "$ref": "#/components/responses/FoundryUpstream"
          }
        }
      }
    },
    "/api/v1/diagrams/{diagram}/foundry/ontologies": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DiagramId"
        }
      ],
      "get": {
        "tags": [
          "Foundry"
        ],
        "operationId": "listFoundryOntologies",
        "summary": "List Foundry ontologies",
        "description": "Requires abilities: desktop, foundry:read plus diagram read permission.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FoundryOntology"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/FoundryConflict"
          },
          "429": {
            "$ref": "#/components/responses/FoundryUpstream"
          },
          "502": {
            "$ref": "#/components/responses/FoundryUpstream"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Sanctum"
      }
    },
    "parameters": {
      "DiagramId": {
        "name": "diagram",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      },
      "ImportId": {
        "name": "import",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      },
      "OAuthState": {
        "name": "state",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 16,
          "maxLength": 255
        }
      },
      "ShareToken": {
        "name": "token",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "TokenId": {
        "name": "token",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      },
      "VisitorId": {
        "name": "visitor",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      },
      "FoundryConnectionId": {
        "name": "connection",
        "in": "path",
        "required": true,
        "description": "Foundry connection id owned by the authenticated user.",
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      },
      "DatasetRid": {
        "name": "datasetRid",
        "in": "path",
        "required": true,
        "description": "Foundry dataset resource identifier (RID).",
        "schema": {
          "type": "string",
          "example": "ri.foundry.main.dataset.0000-0000"
        }
      }
    },
    "requestBodies": {
      "UpdateDiagram": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UpdateDiagramRequest"
            }
          }
        }
      },
      "SharedSave": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "schema": {
                  "$ref": "#/components/schemas/DiagramSchema"
                },
                "value_types": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValueType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "responses": {
      "DiagramCreated": {
        "description": "Diagram created",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "status",
                "diagram"
              ],
              "properties": {
                "status": {
                  "type": "boolean"
                },
                "message": {
                  "type": "string"
                },
                "diagram": {
                  "type": "object",
                  "required": [
                    "id",
                    "share_token"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "share_token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DiagramResource": {
        "description": "Diagram resource",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "$ref": "#/components/schemas/Diagram"
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "Authenticated token lacks the required ability or diagram permission",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "PendingStatus": {
        "description": "Background job queued",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "status"
              ],
              "properties": {
                "status": {
                  "type": "string",
                  "const": "pending"
                }
              }
            }
          }
        }
      },
      "StatusMessage": {
        "description": "Status message",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/StatusMessageResponse"
            }
          }
        }
      },
      "StatusOnly": {
        "description": "Boolean status response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing, invalid, or expired bearer token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Validation failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ValidationErrorResponse"
            }
          }
        }
      },
      "FoundryConflict": {
        "description": "Foundry connection or host setup is required (e.g. foundry_connection_required, foundry_connection_expired, foundry_host_not_configured, foundry_host_not_set).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FoundryError"
            }
          }
        }
      },
      "FoundryUpstream": {
        "description": "Foundry upstream failure or rate limit.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FoundryError"
            }
          }
        }
      }
    },
    "schemas": {
      "BackupExport": {
        "type": "object",
        "required": [
          "format",
          "version",
          "diagram"
        ],
        "properties": {
          "format": {
            "type": "string",
            "const": "ontolosql-designer"
          },
          "version": {
            "type": "integer",
            "const": 2
          },
          "diagram": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "name": {
                "type": "string"
              },
              "dbType": {
                "$ref": "#/components/schemas/DbType"
              },
              "schema": {
                "$ref": "#/components/schemas/DiagramSchema"
              },
              "valueTypes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ValueType"
                }
              },
              "interfaces": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "interfaceLinkConstraints": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "customActions": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "sharedPropertyTypes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      },
      "BroadcastAuthRequest": {
        "type": "object",
        "required": [
          "socket_id",
          "channel_name"
        ],
        "properties": {
          "socket_id": {
            "type": "string",
            "examples": [
              "1234.5678"
            ]
          },
          "channel_name": {
            "type": "string",
            "examples": [
              "presence-diagram.shareToken",
              "presence-diagram.shareToken.writers"
            ]
          }
        }
      },
      "ChangelogEntry": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "integer"
          },
          "action": {
            "type": "string"
          },
          "details": {
            "type": [
              "object",
              "array",
              "null"
            ]
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "CreateDiagramRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "db_type": {
            "$ref": "#/components/schemas/DbType"
          },
          "share_access": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DiagramAccess"
              },
              {
                "type": "null"
              }
            ]
          },
          "library": {
            "type": "boolean"
          }
        }
      },
      "DashboardResponse": {
        "type": "object",
        "required": [
          "owned",
          "shared",
          "public"
        ],
        "properties": {
          "owned": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DiagramSummary"
            }
          },
          "shared": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DiagramSummary"
            }
          },
          "public": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DiagramSummary"
            }
          }
        }
      },
      "DbType": {
        "type": "string",
        "enum": [
          "mysql",
          "postgresql",
          "sqlite",
          "oracle",
          "sqlserver",
          "msaccess",
          "ontology"
        ]
      },
      "Diagram": {
        "type": "object",
        "required": [
          "id",
          "name",
          "db_type",
          "schema",
          "share_token",
          "require_approval",
          "library",
          "is_owner"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "db_type": {
            "$ref": "#/components/schemas/DbType"
          },
          "schema": {
            "$ref": "#/components/schemas/DiagramSchema"
[...]
